<!DOCTYPE html>
<html ng-app>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Angular Workshop</title>
    <link rel="stylesheet" href="">
    <style>
    .done {
        text-decoration: line-through;
    }
    .list {
        list-style-type: none;
    }
    </style>
</head>

<body ng-init="todos=[{text:'Show Angular'},{text:'make better samples',done:true}]">
    <h1>First (BAD!!) sample ;)</h1>
    <input type="text" ng-model='todo' ng-blur='todos.push({text:todo,done:false});todo=""'>
    <button>Add todo</button>
    <ul class='list'>
        <li ng-repeat='item in todos'
            ng-click='item.done=!item.done'
            ng-class="{done: item.done}">
            {{item.text}}
        </li>
    </ul>
    <script src="angular/angular.js"></script>
</body>

</html>
